<header>
  <nav class="navbar">
      <div class="container">
          <a href="#" class="logo"><img src="/public/assets/téléchargement.png" alt="Logo"></a>
          <ul class="nav-links">
              <li><a href="#"><i class="fas fa-home"></i> Accueil</a></li>
              <li><a a [routerLink]="['/panier']"><i class="fas fa-shopping-cart"></i> Panier</a></li>
              <li><a href="#"><i class="fas fa-user"></i> Mon compte</a></li>
              <li><a [routerLink]="['/contact']"><i class="fas fa-envelope"></i> Contact</a></li>
          </ul>
      </div>
  </nav>
</header>
