<h1>Connexion</h1>
<form [formGroup]="LoginForm" (ngSubmit)="onSubmit()">
  <label for="email">Email:</label>
  <input id="email" type="email" formControlName="email">
  <div *ngIf="LoginForm.get('email')?.invalid && (LoginForm.get('email')?.dirty || LoginForm.get('email')?.touched)" class="error">
    Email Invalide
  </div>

  <label for="password">Mot de passe:</label>
  <input id="password" type="text" formControlName="password">

  <button type="submit" [disabled]="!LoginForm.valid">Se connecter</button>
</form>
